<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="TestSuite" >
    <test name="TrialTest">
        <classes>
            <class name="UiTests.TestContactUs">
            </class>
            <class name="APITests.ExampleAPITest">
            </class>
        </classes>
    </test>
</suite>